body .container {
  display: flex;
  margin-top: 40px;
}
.red{
  width: 570px;
  height: 570px;
  background-color: rgba(255, 0, 0, 0.288);
  display: inline-block;
  overflow: hidden;

}
.yellow{
  width: 570px;
  height: 570px;
  background-color: rgba(255, 255, 0, 0.288);
  display: inline-block;

}
.yellow p {
  margin-top: 750px;
  font-size: 180px;
  animation-name: p;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  white-space: nowrap;
}
@keyframes p {
  0% {transform: translate(0, -250%)}
  100% {transform: translate(-250%, -250%)}
  
}